---
import { SITE } from "@config"

const { title, description } = Astro.props

const siteTitle = title ?? SITE.title
const metaDescription = description ? description : SITE.desc
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta http-equiv='X-UA-Compatible' content='ie=edge' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />

<!-- Twitter -->
<meta name='twitter:card' content='summary_large_image' />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />

<!-- Open Graph / Facebook -->
<meta property='og:title' content={siteTitle} />
<meta property='og:description' content={metaDescription} />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name='title' content={siteTitle} />
<meta name='description' content={description} />

<!-- Theme Meta Tags -->
<meta name='msapplication-TileColor' content='#00aba9' />
<meta name='theme-color' content='#ffffff' />
<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
<link rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5' />
<link rel='stylesheet' href='/styles/atom-dark.css' />
<meta name='robots' content='index' />

<!-- Google Font -->
<link rel='preconnect' href='https://fonts.googleapis.com' />
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

<!-- Google tag (gtag.js) -->
<script async src='https://www.googletagmanager.com/gtag/js?id=AW-16507452350'
></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag("js", new Date())
  gtag("config", "AW-16507452350")
</script>

<!-- Event snippet for Registro conversion page -->
<script>
  gtag("event", "conversion", {
    send_to: "AW-16507452350/tNsECMOL0p4ZEL73rr89",
  })
</script>
